<h1 class="title">{{userData.username}}'s page</h1>

<h2>{{#if userData.admin}} (admin){{else}} (member){{/if}}</h2>

<button class="accordion-btn">Elements</button>
<div class="accordion-panel">
  <table>
    <th>Element name</th><th>Symbol</th><th>Atomic number</th><th>Atomic mass</th><th>Type</th>
  {{#each elementsData}}
    <tr>
      <td>{{name}}</td>
      <td class="mp-elements-table-symbol border-sides">{{symbol}}</td>
      <td class="mp-elements-table-aNum">{{atomicNumber}}</td>
      <td class="border-sides">{{atomicMass}}</td>
      <td>{{groupBlock}}</td>
    </tr>
  {{/each}}
  </table>
</div>


<button class="accordion-btn">Alloys</button>
<div class="accordion-panel">
  <table>
    <th>Alloy name</th><th>Composed by</th>
  {{#each alloysData}}
    <tr>
      <td>{{alloyName}}</td>
      <td class="border-sides">
        {{#each mixture}}
        <li>{{this}}</li>
        {{/each}}
      </td>
    </tr>
  {{/each}}
  </table>
</div>

<div class="mp-knowledge-points">
  <h3>Your knowledge points:</h3>
  <p id="points-num">{{userData.knowledgePoints}}</p>
</div>

<div class="mp-comments-main">
  <div class="mp-comments-div">
    <h3>Your saved comments:</h3>
    <table>
      {{#each userData.comments as |item index|}}
      <tr>
        <td class="border-sides"><li>{{this}}</li></td>
        <td>
          <div class="mp-comments-actions-div">
            <form action="/comments/edit/{{index}}" method="POST">
              <input type="text" name="newComment" placeholder="Edit comment">
              <button type="submit"><img src="../images/edit.png" alt="edit-icon"></button>
            </form>
            <form action="/comments/delete/{{index}}" method="POST">
              <button type="submit"><img src="../images/delete.png" alt="delete-icon"></button>
            </form>
          </div>
        </td>
      </tr>
      {{/each}}
    </table>
  </div>
  <form id="mp-comments-form" action="comments/new" method="POST">
    <input type="text" name="comments" placeholder="Introduce a new comment">
    <button type="submit">Save</button>
  </form>
</div>

<script src="/javascripts/accScript.js"></script>
